.form-control{
    margin-top: 0.5rem ;
    margin-bottom: 0.5rem ;
}
.form-group {
    margin-bottom: 1rem;
}
.card{
    width: 35rem;
}
.text-right{
    text-align: right;
}
.text-p{color: lightslategray;}